<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>323443439978-g5ikra542uoraetm97akiof3eh3mbqcr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.323443439978-g5ikra542uoraetm97akiof3eh3mbqcr</string>
	<key>API_KEY</key>
	<string>AIzaSyBSV7XZXq3h5vqR5OclbellyHg2ywq-JIM</string>
	<key>GCM_SENDER_ID</key>
	<string>323443439978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notedown</string>
	<key>PROJECT_ID</key>
	<string>notedown-flutter-project</string>
	<key>STORAGE_BUCKET</key>
	<string>notedown-flutter-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:323443439978:ios:8dae0105117cb41c6e8d13</string>
</dict>
</plist>